@{
    ViewData["Title"] = "Home Page";
}

<div class="container">

    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
        <h1>GTH Fenix Configuración</h1>
        <div class="navbar-collapse collapse">
            <ul class="">
                <li><a asp-area="" asp-controller="LicenciaRemuneradaCausas" asp-action="Index">Lincencias Remuneradas Causas</a></li>
                <li><a asp-area="" asp-controller="CausaAusentismos" asp-action="Index">Causas Ausentismos</a></li>
                <li><a asp-area="" asp-controller="CausaIncapacidades" asp-action="Index">Causas Incapacidades</a></li>
                <li><a asp-area="" asp-controller="RetiroCausas" asp-action="Index">Retiros Causas</a></li>
                <li><a asp-area="" asp-controller="RetiroCategorias" asp-action="Index">Retiros Categorías</a></li>
            </ul>
        </div>
    </div>

</div>