@model Entidades.RetiroCausa

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Eliminar</h2>

<h3>¿Está seguro de que desea eliminarlo?</h3>
<div>
    <h4>Retiro Causa</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Descripción
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt>
            Categoría
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RetiroCategoria.Id)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a class="btn btn-default" asp-action="Index">Volver A La Lista</a>
    </form>
</div>
